///////////////////////
//  404 page styles  //
///////////////////////

.page-404 {
  @extend .container;
  background: url("#{$m3_assets_dir}/img/404-bg.png") no-repeat top right;
  background-position-y: $spacer-md;
  background-size: 350px;
  padding-top: $spacer-md;
  padding-left: 100px;
}

.page-404__header,
.page-404__body {
  padding-right: 350px;
}

.page-404__title {
  @extend .m3-title-lg;
  font-size: 5rem;
  line-height: 1.25;
}

.page-404__subtitle {
  @extend .m3-featured;
  margin-top: $spacer-md;
  margin-bottom: $spacer-md;
}

.page-404__footer {
  margin-top: $spacer-xl;
  margin-bottom: $spacer-xxl;
}

#Page-404-search {
  .form__container {
    padding: 0;
  }

  form {
    @extend .row;
    align-items: flex-end;
  }

  .fields-container {
    @extend .col-md-8;
  }

  .actions-container {
    @extend .col-md-4;
  }

  .form-item-keywords {
    .input__container {
      @include preppendIcon('fa-search', 18px);
      padding-right: 0;

      input {
        padding-right: 30px;
      }

      &:before {
        z-index: 2;
        right: 12px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .page-404 {
    padding: $spacer-sm $spacer-xs;
  }
}

@include media-breakpoint-down(sm) {
  .page-404 {
    background-image: unset;
  }

  .page-404__header,
  .page-404__body {
    padding-right: 0;
  }

  .page-404__title {
    font-size: 3rem;
  }
}