///////////////////////////////////////////
//  Styles for the Blog post full nodes  //
///////////////////////////////////////////

.node--blog_post--full {
  .content__header {
    @extend .container;
  }

  .content__title {
    margin-top: $spacer-md;
    margin-bottom: $spacer-xs;
    margin-right: 5%;
  }

  .field-author {
    display: inline;

    p {
      display: inline;
    }
  }

  .content__news-item-labels {
    @extend .container;
    margin-bottom: $spacer-sm;
  }

  .content__footer {
    margin-top: $spacer-xl;
  }

  .content__related {
    @extend .container;
    max-width: 850px !important;
  }

  .field-related-posts {
    @extend .row;
  }

  .field-related-posts__item {
    @extend .col-lg-6;
    padding-bottom: $spacer-lg;

    .node--card {
      display: flex;
      justify-content: center;
    }
  }
}

// Responsive styles

@include media-breakpoint-down(md) {
  .node--blog_post--full {
      .content__footer {
          &:before {
              height: 75%;
          }
      }
  }
}