////////////////////////////////
//  Styles for the blog view  //
////////////////////////////////

.page--blog,
.page--news {
  @extend .m3-view;

  // .block--page-title-block {
  //   background-color: rgba($ffd-saphire, 12%);
  // }

  // .content__wrapper {
  //   .view__exposed {
  //     padding-top: $spacer-md;
  //     background-color: rgba($ffd-saphire, 12%);

  //     .form-item-search-api-fulltext {
  //       @extend .col-sm-12;
  //     }

  //     .form-item-sort-order {
  //       display: none;
  //     }

  //     .advanced-search-link {
  //       @extend .col-12;
  //     }
  //   }
  // }
}