////////////////////////////////////////
//  Footer subscribe cta block styles  //
////////////////////////////////////////


.block--freeform-suscribe-form-block {
  .block__label h2 {
    margin-bottom: $spacer-xxs;
  }
}

.subscribe-form-cta {}

.subscribe-form-cta__button {
  @extend %m3-standard-button;
  @include appendIcon("fa-envelope", $spacer-xxs);
  position: relative;
  padding: ($spacer-xxs - 4px) $spacer-sm;
  padding-left: $spacer-xxs * 2 + $spacer-sm;
  background-color: transparent;
  border-color: $m3-light !important;
  color: $m3-light !important;
  text-align: center;

  &:before {
    position: absolute;
    left: $spacer-sm;
    z-index: 2;
    color: $m3-light;
  }
}
