/////////////////////////
//  Styles for footer  //
/////////////////////////

.footer {
    background: $ffd-bunting;
    border-top: $spacer-xxxxs solid $ffd-bunting;
}

.footer__inner-wrapper {
    @extend .container;
    padding-top: $spacer-sm;
    padding-bottom: $spacer-sm;
}

.footer__row {
    @extend .row;
}

.footer__main-column {
    @extend .col-md-4;
}

.footer__side-column {
    @extend .col-md-8;
}

// CTAs

.footer__ctas {
    .block__label {
        h2 {
            @extend .m3-label;
            color: $m3-light;
        }
    }
}


// Index

.footer__index {
    margin-bottom: $spacer-xxxs;
}

.index__wrapper {
    .index {
        @extend .row;
        justify-content: flex-end;
    }
}

.block--system-menu-blockfooter-featured {
    @extend .col-12;
    margin-top: $spacer-xxs;

    ul {
        @extend .nav;
        align-items: flex-end;
        justify-content: flex-end;
    }

    li {
        @extend .nav-item;
        margin-left: $spacer-xs;
    }

    a {
        color: $m3-light;
        text-decoration: underline;

        &:hover {
            color: $ffd-portage;
        }
    }
}


// Signature
.block--footer-copyright {
    text-align: right;
    font-size: $t-01;
    color: $ffd-concrete-alt;

    .copyright__tagline {
        a {
            text-decoration: underline;
        }
    }

    .copyright__cc {
        display: flex;
        justify-content: flex-end;
        
        a {
            display: block;
            max-width: 200px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}


@include media-breakpoint-down(sm) {
    .block--system-menu-blockfooter-featured {
        ul {
            justify-content: flex-start;
        }

        li {
            margin-left: 0;
            margin-right: $spacer-xs;
        }
    }

    .block--footer-copyright {
        text-align: left;
    }
}