/////////////////////////////////////////////////////////////
//  Styles for the latest updates freefomr and view block  //
/////////////////////////////////////////////////////////////

.latest-updates--embed {
    position: relative;
    margin-right: -1 * $spacer-xl;
    margin-left: -1 * $spacer-xl;

    .latest-updates__inner {
        padding-left: $spacer-xl;
        padding-right: $spacer-xl;
        position: relative;
        z-index: 2;
    }

    .latest-updates__header {
        h3 {
            @extend .m3-title-lg;
            margin-bottom: $spacer-sm;
        }
    }
}

.content-view-block--latest {
    .view__content {
        max-width: unset;
        padding-left: 0;
        padding-right: 0;
    }

    .view__content-inner {
        @extend .view-card-height-normalizer;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $spacer-xs;
    }

    .content-card {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@include media-breakpoint-down(md) {
    .content-view-block--latest {
        .view__content-inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@include media-breakpoint-down(sm) {
    .content-view-block--latest {
        .view__content-inner {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@include media-breakpoint-down(xs) {
    .latest-updates--embed {
        margin-left: -1 * $spacer-sm;
        margin-right: -1 * $spacer-sm;

        .latest-updates__inner {
            padding-left: $spacer-sm;
            padding-right: $spacer-sm;
        }
    }
}