///////////////////////////////////////////
//  Styles for GDPR compliance elements  //
///////////////////////////////////////////

#gdpr-popup {
  padding-top: $spacer-sm;
  padding-bottom: $spacer-sm;
  background-color: $ffd-bunting;

  .gdpr-popup-content {
    max-width: 616px;

    .gdpr-popup-text {
      float: none;
      max-width: unset;

      .gdpr-popup-cookies {
        @extend .m3-title-xs;
        color: $m3-light;
        font-weight: 400;
      }
      
      .gdpr-popup-analytics {
        @extend .m3-body;
        color: $m3-light;
      }

      .gdpr-popup-cookies,
      .gdpr-popup-analytics {
        text-align: left;
      }
    }
    
    .gdpr-popup-buttons {
      float: none;
      max-width: unset;
      display: flex;
      justify-content: space-between;

      #gdpr-agree {
        @extend %m3-cta-button;
        padding: $spacer-xxs $spacer-xs;
      }
      
      #gdpr-find-more {
        @extend %m3-standard-button;
        padding: $spacer-xxs $spacer-xs;
        background-color: transparent !important;
        border-color: $ffd-nebula;
        color: $ffd-nebula;

        &:hover {
          border-color: $ffd-nebula;
          color: $ffd-nebula;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  #gdpr-popup {
    .gdpr-popup-content {
      .gdpr-popup-text {
        .gdpr-popup-cookies,
        .gdpr-popup-analytics {
          max-width: unset;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #gdpr-popup {
    .gdpr-popup-content {
      padding-left: $spacer-xs;
      padding-right: $spacer-xs;

      .gdpr-popup-buttons {
        flex-direction: column;
      }
    }
  }
}


// GDPR page
.page--gdpr-compliance-policy {
  .content {
    @extend .container;
  }

  .block--main-page-content {
    @extend .m3-indented-column;
    margin-top: $spacer-lg;
    margin-bottom: $spacer-xxl;

    .block__content {
      @extend .m3-text-styled;

      h1,h2,h3,h4,h5,h6 {
        margin-top: $spacer-lg;
        margin-bottom: $spacer-md;
      }
    }
  }
}