/////////////////////////
//  Styles for header  //
/////////////////////////

.header__wrapper {
    @extend .container-fluid;
    background-color: $ffd-concrete;
    padding: 0;
    position: fixed;
    z-index: 20;
    border-bottom: $spacer-xxxxs solid $ffd-concrete;
}

.header {
    @extend .container, .navbar, .navbar-expand-lg, .navbar-light;
    padding: $spacer-xxs 0;
}


// Brand wrapper

.brand__wrapper {
    @extend .navbar-brand;
    padding: 0;
    transition: transform 0.2s;
}

// .brand {}
// .site-branding {}

.site-branding__link {
    display: flex;
}

.site-branding__logo {
    width: $brand-width;
}

// Navbar elements

.navbar__wrapper,
.navbar__toggler {
    opacity: 1;
    transition: transform 0.2s, opacity 0.2s;
}

// Content table
.navigation__content-title {
    position: absolute;
    left: 150px;
    top: $spacer-md;
    transform: translateY(-120%);
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;

    h1 {
        @extend .m3-title-lg;
    }
}

.navigation__content-table {
    position: absolute;
    width: 100%;
    bottom: -1 * $spacer-xxxxs;
    left: 0;
    padding-left: 150px - $spacer-xxs;
    pointer-events: none;

    .content-table__table {
        overflow: hidden;
        overflow-x: auto;

        ul {
            @extend .nav;
            opacity: 0;
            transform: translateY(120%);
            transition: transform 0.2s, opacity 0.2s;
            width: max-content;
        }

        li {
            @extend .nav-item;
        }

        a {
            @extend .nav-link, .m3-link;
            position: relative;
            padding: $spacer-xxs;
        }

        a:after {
            content: '';
            display: block;
            width: 100%;
            height: $spacer-md;
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            background-color: $ffd-nebula;
            opacity: 0;
            transform: translateY($spacer-md - $spacer-xxxxs);
            border-radius: 0;
            transition: opacity 0.2s, transform 0.2s, border-radius 0.2s;
        }

        a.is-active:after {
            opacity: 0.5;
        }

        a:hover:after {
            opacity: 1;
            transform: translateY(0);
            border-top-left-radius: $m3-roundness-hard;
            border-top-right-radius: $m3-roundness-hard;
        }
    }
}

// Brochure shrink state

.header__wrapper.is-shrinked {
    .navbar__wrapper,
    .navbar__toggler {
        transform: translateY(-120%);
        opacity: 0;
    }

    .navigation__content-title {
        transform: translateY(0%);
        opacity: 1;
    }

    .navigation__content-table {
        pointer-events: all;

        .content-table__table ul {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}

// responsive
@include media-breakpoint-down(sm) {
    .header {
        padding: 25px 15px;
    }

    .navigation__content-title {
        top: $spacer-sm + $spacer-xxs;
    }
}

@include media-breakpoint-down(xs) {
    .header {
        padding: 30px 20px;
    }
}