///////////////////////////
//  Styles for homepage  //
///////////////////////////

.page--homepage {
    .main {
        position: relative;

        .content__header {
            margin-top: 0;
            margin-bottom: $spacer-lg;
            padding-top: $spacer-sm;
            padding-bottom: $spacer-sm;
            background-color: $ffd-blue-stone;
            
            .content__title {
                position: relative;
                height: 0;
                overflow: hidden;
            }
        }

        .content__intro {
            h1, h2, h3, h4, h5, h6, p {
                color: $m3-light;
            }
        }
    }
}