////////////////////////////////////
//  Styles for language switcher  //
////////////////////////////////////

.language-switcher {
    margin-left: $spacer-xs;

    a {
        transition: color 0.2s;
    }
}

.language-switcher__inner {
    position: relative;
}

.language-switcher__toggle-button {
    @extend %m3-language-button, %main-menu-button;
    padding: 0;

    .icon:before {
        font-size: $t-08;
        text-align: left;
    }

    &:after {
        width: 120%;
        left: -10%;
    }

    &.is-active:after {
        opacity: 1;
        transform: translateY(2px) scaleY(1);
        border-top-left-radius: $m3-roundness-hard;
        border-top-right-radius: $m3-roundness-hard;
    }
}

.language-switcher__dropdown {
    @extend %submenu-floating-box;
    left: unset;
    top: 140%;
    right: -1 * $spacer-xxxs;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

.language-switcher__dropdown:not(.is-hidden) {
    z-index: 2;
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
}