/////////////////////////////////
//  Styles for the main block  //
/////////////////////////////////

.system__wrapper {
    @extend .container;
}

.main {
    padding-top: $header-offset;
    padding-bottom: $footer-offset;
    min-height: 100vh;
}

.footer {
    margin-top: -1 * $footer-offset;
}

@include media-breakpoint-down(sm) {
    .main {
        padding-top: $header-offset--mobile;
        padding-bottom: $footer-offset--mobile;
    }

    .footer {
        margin-top: -1 * $footer-offset--mobile;
    }
}