//////////////////////////////////
//  Styles for navigation menu  //
//////////////////////////////////

.navbar__wrapper {
  @extend .navbar-collapse;
  flex-direction: column;
  align-items: flex-end;
}
  
.navbar__wrapper,
.navbar__toggler {
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1;
}

.navbar__elements {
  width: 100%;
}

.navbar__row:not(:last-child) {
  margin-bottom: $spacer-xxs;
}

.navbar__toggler {
  position: absolute;
  right: $spacer-xxs;
}

.navbar-toggler {
  background-color: $ffd-concrete;
}

.taskbar__wrapper,
.navigation__wrapper {
  width: 100%;
}

.taskbar,
.navigation {
  @extend .navbar-nav, .mr-auto;
  justify-content: flex-end;
  align-items: center;

  .block {
      @extend .nav-item;
  }
}

.block--system-menu-blockmain,
.block--system-menu-blockaccount,
.block--system-menu-blockheader-featured {
    ul {
        @extend .nav;

        li {
        @extend .nav-item;

            a {
              @extend .m3-link;
              text-decoration: none;
              padding-right: $spacer-xs;
              transition: color 0.2s;
            }

            a:hover {
              text-decoration: none;
              color: $ffd-blue-stone;
            }
        }
    }
}


// Submenu togglers and lists
%submenu-floating-box {
  @include border-rounded;
  position: absolute;
  top: 200%;
  width: 100%;
  min-width: $pop-up-menu-min-width;
  box-sizing: border-box;
  padding: ($spacer-xs / 2) $spacer-xxxxs;
  background-color: $m3-light;
  box-shadow: 0 $spacer-xxxxs $spacer-xxxs 0 rgba($ffd-mine-shaft, 0.24);
  pointer-events: none;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.2s, transform 0.3s;
  flex-direction: column;

  .menu__item,
  ul li {
    a {
      padding: $spacer-xxxxs ($spacer-xs / 2);
      display: block;
      @include border-rounded;

      &:after {
        display: none;
      }

      &:hover {
        background-color: $ffd-nebula;
      }

      &.is-active {
        background-color: rgba($ffd-nebula, 0.5);
      }
    }

    &:not(:last-child) a {
      padding-bottom: $spacer-xxxs;
    }
  }
}

%main-menu-button {
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 200%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    box-sizing: content-box;
    top: ($spacer-xxxs * -2) + 2px;
    background-color: $ffd-nebula;
    padding: $spacer-xxxs 0;
    padding-bottom: $spacer-xxs - 2px;
    border-radius: 0;
    transform: scaleY(10%) translateY(500%);
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s, border-radius 0.2s;
  }

  &.is-active {
    &:after {
      opacity: 0.5;
    }
  }
}

.block--system-menu-blockmain .menu {
  .menu__item {
    position: relative;

    & > a {
      @extend %main-menu-button;
      position: relative;
      padding-left: $spacer-xs / 2;
      padding-right: $spacer-xs / 2;      
    }

    &:hover {
      & > a:after {
        opacity: 1;
        transform: translateY(2px) scaleY(1);
        border-top-left-radius: $m3-roundness-hard;
        border-top-right-radius: $m3-roundness-hard;
      }
    }
  }

  .menu__submenu {
    @extend %submenu-floating-box;
    left: -1 * $spacer-xxxs;
  }

  .menu__submenu-toggler {
    @include preppendIcon('fa-chevron-down', $spacer-xxs);
    padding-right: $spacer-sm + $spacer-xxxxs !important;

    &::before {
      transition: transform 0.2s;
      right: $spacer-xs / 2;
    }
    
    &.is-open {
      z-index: 1;

      &::after {
        opacity: 1;
        transform: translateY(2px) scaleY(1);
        border-top-left-radius: $m3-roundness-hard;
        border-top-right-radius: $m3-roundness-hard;
      }

      &::before {
        transform: rotate(180deg);
      }

      & + .menu__submenu {
        z-index: 2;
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}


.block--system-menu-blockheader-featured {
  ul {
    li {
      a {
        @extend %m3-standard-button;
        margin-right: $spacer-xxs;
        background: transparent;

        &:hover {
          background: $ffd-nebula;
        }
      }
    }
  }
}

.navigation__search-button {
    @extend %m3-circle-button;

    .icon {
        @include iconize('fa-search', $t-03);
        display: flex;
    }
}


// Responsive
@include media-breakpoint-down(md) {
  .navbar__wrapper {
    position: fixed;
    right: 0;
    width: 55vw;
    height: 100vh;
    top: 0;
    pointer-events: none;
    transform: translateY(0) !important;
    overflow: hidden;

    .navbar__elements {
      width: 100%;
      height: 100%;
      padding: $spacer-md $spacer-xxxxs;
      padding-top: $spacer-xl;
      background-color: $m3-light;
      border-left: 3px solid $m3-gray-100;
      pointer-events: all;
      transition: transform 0.3s;
      transform: translateX(100%);
      overflow-y: auto;

      .taskbar {
        padding-left: $spacer-xs;
        padding-right: $spacer-xs;
      }
      
      .taskbar,
      .navigation {
        justify-content: flex-start;
        align-items: flex-start;

        .block {
          padding-bottom: $spacer-sm;
        }

        .language-switcher {
          position: absolute;
          top: $spacer-sm;
          right: $spacer-sm;
        }

        .block--search-button {
          position: absolute;
          top: 25px;
          left: $spacer-sm;
        }
      }
    }
  }

  .navbar__wrapper.is-expanded {
    .navbar__elements {
      transform: translateX(0%);
    }
  }

  .block--system-menu-blockmain {
    ul {
      -ms-flex-direction: column !important;
      flex-direction: column !important;

      li {
        margin-bottom: 10px;

        a {
          font-size: $t-05;
        }
      }
    }
  }

  .block--system-menu-blockheader-featured {
    width: 100%;

    ul {
      justify-content: space-between;
    }

    .menu__item {
      width: 48%;

      a {
        display: block;
        text-align: center;
        margin: 0;
      }
    }
  }

  %main-menu-button:not(.language-switcher__toggle-button) {
    z-index: 1;
    display: block;
    padding-left: $spacer-xs;

    &:after {
      @include border-rounded;
      height: 100%;
    }

    &.is-open + %submenu-floating-box {
      height: fit-content;
    }
  }

  %submenu-floating-box:not(.language-switcher__dropdown) {
    height: 0;
    position: relative;
    top: unset;
    left: unset;
    z-index: 1;
    box-shadow: unset;
    text-indent: $spacer-xxxs;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid $ffd-nebula;
  }
}

@include media-breakpoint-down(sm) {
  .navbar__wrapper {
    width: 75vw;
  }
}

@include media-breakpoint-down(xs) {
  .navbar__wrapper {
    width: 95vw;
  }
}