//////////////////////////////////////
//  Styles for the page full nodes  //
//////////////////////////////////////

.node--page--full,
.node--page--content {
    .content__header {
        @extend .container-fluid;
        margin-top: $spacer-xxl;
    }

    .content__title {
        @extend .container;
        margin-bottom: 0;
    }

    .content__intro {
        margin-left: -15px;
        margin-right: -15px;
    }

    .content__content-table {
        @extend .container;

        .content-table {
            padding-left: $spacer-xl;
            padding-right: $spacer-xl;
        }

        .content-table__label {
            @extend .m3-tag;
            color: $ffd-bright-gray;
            text-transform: uppercase;
        }

        .content-table__table {
            ul {
                @extend .nav;
                margin-left: -1 * $spacer-xxxs;
            }

            li {
                @extend .nav-item;
            }

            a {
                @extend .nav-link;
                padding: $spacer-xxxs;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-bottom-color: $ffd-blue-stone;
                }
            }
        }
    }

    // .content__content {}

    .content__footer {
        @extend .m3-block-shade-1-half;
        margin-top: $spacer-sm;
    }

    .content__related {
        @extend .container;
        max-width: 776px;
    }

    .field-related-pages {
        @extend .row;
    }

    .field-related-pages__item {
        @extend .col-lg-6;
        padding: $spacer-sm $spacer-xs / 2;

        .node--card {
            display: flex;
            justify-content: center;

            .section-card {
                margin: 0 auto;
            }
        }
    }
}


// Responsive styles

@include media-breakpoint-down(md) {
    .node--page--full,
    .node--page--content  {
        .content__footer {
            &:before {
                height: 75%;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .node {
        .content__content-table {
            .content-table {
                padding-left: $spacer-xxxs;
                padding-right: $spacer-xxxs;
            }
        }
    }
}