//////////////////////////////////////////////////////
//  Styles for the resources-collection full nodes  //
//////////////////////////////////////////////////////

.node--resource_collection--full {
  .content__header {
    @extend .container;
  }

  .content__title {
    margin-top: $spacer-md;
    margin-bottom: $spacer-xs;
    margin-right: 5%;
  }

  .content__title-h {
    @extend .m3-title-lg;
  }

  .content__collection-counter {
    padding: $spacer-xxxxs $spacer-xxxs;
    margin-left: $spacer-xl;
    font-weight: 600;
    color: $ffd-saphire;
    border-left: $spacer-xxxxs solid $ffd-biscay;
  }
  
  .content__content {
    margin-bottom: $spacer-md;
  }

  .content__resources {
    background-color: $ffd-saphire;
    margin-top: $spacer-xxl;
    padding-top: 1px;
    padding-bottom: $spacer-xxs;
  }

  .content__resources-inner {
    @extend .container;
    margin-top: -1 * $spacer-md;

    .field-resources {
      @extend .row;
      justify-content: center;
      justify-content: flex-start;
    }

    .field-resources__item {
      @extend .col-lg-4, .col-md-6;
      margin-bottom: $spacer-md;
    }
  }
}