///////////////////////////////////////////
//  Styles for the Blog post full nodes  //
///////////////////////////////////////////

.node--resource--full {
  .content__header {
    @extend .container;
  }

  .content__title {
    margin-top: $spacer-md;
    margin-bottom: $spacer-xs;
    margin-right: 5%;
  }

  // .content__body {
  //   margin-bottom: $spacer-xxl;
  // }

  .content__resource-labels {
    @extend .container;
    margin-bottom: $spacer-sm;
  }
  
  .content__files {
    background-color: $ffd-portage;
    padding: $spacer-lg 0;

    .field-resource-files {
      @extend .container;

      .field-resource-files__item {
        &:not(:last-child) {
          margin-bottom: $spacer-sm;
        }

        a {
          @extend .m3-link;
          @include appendIcon('fa-file-download', 25px);
          display: inline-block;
        }

        .file--mime-application-zip a {
          @include appendIcon('fa-file-archive', 25px);
        }
      }
    }
  }
}