/////////////////////////////////////
//  Styles for the resources view  //
/////////////////////////////////////

.page--resources {
  @extend .m3-view;

  .block--page-title-block {
    background-color: $ffd-corn;

    h1 {
      color: $ffd-biscay;
    }
  }

  .content__wrapper {
    .view__header {
      padding-top: $spacer-md;
      padding-bottom: 1px;
      background-color: $ffd-corn;
    }

    .view__header-inner {
      @extend .container;
    }

    .view__headers {
      @extend .m3-text-styled;

      p {
        max-width: 55em;
        color: $ffd-mine-shaft;
      }
    }

    .view__exposed {
      padding-top: 0;
      background-color: $ffd-corn;

      .form-item-search-api-fulltext {
        @extend .col-sm-12;
      }

      .form-item-sort-order {
        display: none;
      } 

      .advanced-search-link {
        @extend .col-12;
      }
    }
  }
}