///////////////////////////////////////
//  Styles for the search view page  //
///////////////////////////////////////

.page--search {
  .block--page-title-block {
    position: relative;
    padding-top: $spacer-xxl;
    padding-bottom: 0;
    color: theme-color("primary");

    .block__content {
      @extend .container;
    }

    h1 {
      @extend .m3-title-lg;
      margin: 0;
    }
  }
}

.search-view--page {
  .view__exposed {
    @extend .container;

    .form__container {
      @extend .m3-rounded-border;
    }
  
    .views-exposed-form {
      @extend .row;
    }
  
    .form-item {
      @extend .col;
    }
  
    .form-item-content-type,
    .form-item-keys,
    .form-item-search-api-fulltext,
    .form-item-year,
    .form-item-langcode,
    .form-item-search-api-language {
      @extend .col-sm-6, .col-12;
    }

    .form-item-field-blog-post-type,
    .form-item-field-resource-type,
    .form-item-field-content-topics {
      @extend .col-md-4, .col-sm-6, .col-12;
    }
    
    .form-actions {
      @extend .col-12;
    }
  }
}