////////////////////////////////////////
//  Styles for the search view block  //
////////////////////////////////////////

.search-view--block {
  height: 100%;
  position: relative;

  .view__exposed {
    @extend .container-fluid;
    padding-top: $spacer-sm;
    padding-bottom: $spacer-xxs;
    background-color: $ffd-nebula;
    border-bottom: $spacer-xxxxs solid $ffd-portage;
    position: absolute;
    top: 0;
    z-index: 3;

    .views-exposed-form {
      @extend .row;
      align-items: flex-end;
    }

    .form-item-search-api-fulltext {
      @extend .col-lg-8, .col-md-7;
    }

    .form-actions {
      @extend .col-lg-4, .col-md-5;

      .form-submit {
        @extend %m3-standard-button;
      }
    }
  }

  .view__content {
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 164px;
    padding-bottom: 92px;
    max-width: unset;

    .view__content-inner {
      height: 100%;
      overflow: auto;

      .node--teaser {
        overflow: hidden;
      }
    }
  }

  & > footer {
    width: 100%;
    background: $ffd-portage;
    border-top: $spacer-xxxxs solid $ffd-fountain-blue;
    position: absolute;
    bottom: 0;
    padding: $spacer-xs;

    .advanced-search-link {
      @extend %m3-cta-button;
      width: 100%;
    }
  }
}

.modal--views-blocksearch-block {
  padding: 0;

  .block--views-blocksearch-block {
    height: 100%;

    .block__content {
      height: 100%;

      & > div {
        height: 100%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .search-view--block {
    .view__exposed {
      .form-actions {
        .form-submit {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }

    .view__content {
      padding-top: 246px;
    }
  }
}