///////////////////////////////////////////
//  Styles for the social networks menu  //
///////////////////////////////////////////

.block--system-menu-blocksocial-networks {
    ul {
        @extend .nav;
    }

    li {
        @extend .nav-item;
    }

    li:not(:last-child) {
        margin-right: $spacer-xxxs;
    }

    a {
        @extend .nav-link;
        @include iconize('fa-link', $t-06);
        width: $spacer-sm;
        padding-right: 0 !important;
        padding-left: $spacer-sm !important;
        overflow: hidden;
        position: relative;
        color: transparent !important;

        &:before {
            @include centerThis();
            color: $ffd-horizon;
        }

        &:hover:before {
            color: $ffd-blue-stone;
        }
    }

    .facebook {
        @include iconize('fa-facebook', $t-06, 'fab');
    }

    .twitter {
        @include iconize('fa-twitter', $t-06, 'fab');
    }

    .instagram {
        @include iconize('fa-instagram', $t-06, 'fab');
    }

    .youtube {
        @include iconize('fa-youtube', $t-06, 'fab');
    }
}