////////////////////////
//  Animation Mixins  //
////////////////////////

// Keyframe: The animation to execute
// Duration: The time-length of the animation

@mixin animate($keyframe, $duration) {
  -webkit-animation-name: $keyframe; /* Chrome, Safari, Opera */
  -webkit-animation-duration: $duration; /* Chrome, Safari, Opera */
  animation-name: $keyframe;
  animation-duration: $duration;
}

// Count: Number of executions, or Infinite; default 1
// Posible Directions
// normal | reverse | alternate | alternate-reverse | initial | inherit

@mixin animateCicle($count, $direction) {
  -webkit-animation-iteration-count: $count;
  -webkit-animation-direction: $direction;
  animation-iteration-count: $count;
  animation-direction: $direction;
}

// keyframe generator
@mixin newKeyframe($keyframeName) {
  @keyframes #{$keyframeName} {
    @content;
  }
  @-webkit-keyframes #{$keyframeName} {
    @content;
  }
}


///////////////////////////
//  Animation Keyframes  //
///////////////////////////

// VIBE (Shakes from left to right; Needs to be reversed and repeated to simulate vibration)
@include newKeyframe(vibe) {
  0% { transform: translate( 0px, 0); }
  50% { transform: translate( -6px, 0); }
  100% { transform: translate( 6px, 0); }
}

// JUMP (Shrinks and jumps)
@include newKeyframe(jump) {
  0% { transform: translate( 0, 0px) scale(1); }
  10% { transform: translate( 0, 0px) scale(0.95); }
  15% { transform: translate( 0, 0px) scale(1.05); }
  17.5% { transform: translate( 0, -10px) scale(1.025); }
  20% { transform: translate( 0, -10px) scale(1); }
  22.5% { transform: translate( 0, 0px) scale(1); }
  27.5% { transform: translate( 0, -2px) scale(1); }
  30% { transform: translate( 0, 0px) scale(1); }
  100% { transform: translate( 0, 0) scale(1); }
}

// JUMP STRAIGHT (Just jumps vertically)
@include newKeyframe(jump-straight) {
  0% { transform: translate( 0, 0px); }
  10% { transform: translate( 0, 0px); }
  15% { transform: translate( 0, 0px); }
  17.5% { transform: translate( 0, -10px); }
  20% { transform: translate( 0, -10px); }
  22.5% { transform: translate( 0, 0px); }
  27.5% { transform: translate( 0, -2px); }
  30% { transform: translate( 0, 0px); }
  100% { transform: translate( 0, 0); }
}

// Oscilator (Circling around)
@include newKeyframe(oscilator) {
  0% { transform: translate(0px, 7.5px) scale(1); }
  12.5% { transform: translate(4.25px, 5.75px) scale(0.998); }
  25% { transform: translate(7.25px, 1.25px) scale(1); }
  37.5% { transform: translate(6.25px, -3.25px) scale(1.002); }
  50% { transform: translate(2.75px, -6.75px) scale(1); }
  62.5% { transform: translate(-2.75px, -6.75px) scale(0.998); }
  75% { transform: translate(-6.25px, -3.25px) scale(1); }
  87.5% { transform: translate(-7.25px, 1.25px) scale(1.002); }
  100% { transform: translate(-4.25px, 5.75px) scale(1); }
}


////////////////////////////////////////
//  Animation Classes (Ready to Go!)  //
////////////////////////////////////////

.do-vibe {
  @include animate(vibe, 0.3s);
  @include animateCicle(2, alternate);
}

.do-jump {
  @include animate(jump, 3s);
  @include animateCicle(infinite, normal);
}

.do-jump-once {
  @include animate(jump, 3s);
  @include animateCicle(1, normal);
}

.do-jump-straight {
  @include animate(jump-straight, 5s);
  @include animateCicle(infinite, normal);
}

.do-oscilate {
  @include animate(oscilator, 2s);
  @include animateCicle(infinite, reverse);
}
