/////////////////////////////
//  Styling useful Mixins  //
/////////////////////////////

@mixin border-rounded($roundness: $m3-roundness-hard){
    border-radius: $roundness;
}

@mixin square($side: $spacer-md) {
    width: $side;
    height: $side;
}