{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if header or title %}
  <header class="view__header">
    <div class="view__header-inner">
      {% if title %}
      <div class="view__title">
        {{ title_prefix }}
        <h3>{{ title }}</h3>
        {{ title_suffix }}
      </div>
      {% endif %}
      {% if header %}
      <div class="view__headers">
        {{ header }}
      </div>
      {% endif %}
    </div>
  </header>
  {% endif %}

  {% if exposed %}
  <div class="view__exposed">
    {{ exposed }}
  </div>
  {% endif %}
  
  {% if attachment_before %}
  <div class="view__attachment-before">
    {{ attachment_before }}
  </div>
  {% endif %}

  <div class="view__content">
    <div class="view__content-inner">
      {{ rows }}
      {{ empty }}
    </div>
  </div>
  
  {% if pager %}
  <div class="view__pager">
    {{ pager }}
  </div>
  {% endif %}

  {% if attachment_after %}
  <div class="view__attachment-after">
    {{ attachment_after }}
  </div>
  {% endif %}
  
  {% if more %}
  <div class="view__more">
    {{ more }}
  </div>
  {% endif %}

  {% if footer %}
  <footer>
    {{ footer }}
  </footer>
  {% endif %}

  {{ feed_icons }}
</div>
