/////////////////////////
//  Global box styles  //
/////////////////////////

.m3-content-row {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

// .m3-rounded {
//     border-radius: $m3-roundness-hard;
// }

.m3-rounded-border {
    @include border-rounded;
    background-color: theme-color('light');
    border: 1px solid $ffd-saphire;
    padding: $spacer-xs;
}