////////////////////////////
//  Global button styles  //
////////////////////////////

@mixin m3-button($size: $t-02, $padding-vertical: $spacer-xxxs - 1px, $padding-horizontal: $spacer-xs) {
    @include border-rounded;
    display: inline-block;
    font-size: $size;
    font-weight: 500;
    line-height: $size * 1.5;
    padding: $padding-vertical $padding-horizontal;
    transform: scale(1);
    transition: transform 0.2s;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:active:hover {
        transform: scale(0.95);
    }
}


// Button styles
%m3-cta-button {
    @include button-variant(theme-color('primary'), transparent);
    @include m3-button;
    color: theme-color('light');

    &:hover {
        background-color: $ffd-tiber;
        color: theme-color('light');
    }
}

%m3-standard-button {
    @include button-variant(transparent, theme-color('primary'));
    @include m3-button;
    border-width: 1px;
    border-style: solid;
    color: theme-color('primary');

    &:hover {
        background-color: rgba(theme-color('light'), 0.24);
        color: $ffd-tiber;
        border-color: $ffd-tiber;
    }
}

%m3-ghost-button {
    @extend .btn-link;
    @include m3-button;
    padding-left: 0;
    padding-right: 0;
    color: theme-color('primary');
}

%m3-tag-button {
    @extend .m3-tag;
    @include button-variant(transparent, $ffd-bright-gray);
    @include border-rounded($spacer-xxs);
    padding: $spacer-xxxxs $spacer-xxxs;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    color: $ffd-bright-gray;

    &:hover {
        color: $ffd-horizon;
        border-color: $ffd-horizon;
    }
}

%m3-circle-button {
    @include m3-button;
    @include square($spacer-sm);
    @include border-rounded($spacer-sm / 2);
    padding: unset;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: 1px solid theme-color('primary');
    background-color: transparent;
    color: theme-color('primary');

    .icon {
        @include centerThis();
        width: 100%;
    }
}

%m3-language-button {
    @include m3-button;
    color: $ffd-horizon;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    &:hover {
        color: $ffd-blue-stone;
        text-decoration: none;
    }

    .icon {
        @include iconize('fa-language');
        width: 100%;
    }
}