//////////////////////////
//  Global card styles  //
//////////////////////////

// Drupal card columns extended behavior
.card-columns {
  @include media-breakpoint-down(md) {
    column-count: 2;
  }

  @include media-breakpoint-down(xs) {
    column-count: 1;
  }
}


// Common M3 card styles

.card-link {
  display: block;
  text-decoration: none !important;
  width: 100%;
  text-decoration: none !important;

  &:hover {
    .content-card:not(.content-card--home-special):not(.collection-card) {
      outline: $spacer-xxxxs solid $ffd-blue-stone;
    }

    .content-card--home-special {
      .content-card__inner {
        background-color: $ffd-tiber;
      }
    }

    .content-card__title {
      text-decoration: underline;
      color: $ffd-blue-stone;
    }

    .section-card {
      background: $ffd-tiber;
    }
  }
}


// Section card

.section-card {
  max-width: 600px;
  height: $spacer-xxl;
  padding: 0 $spacer-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $ffd-blue-stone;
  background-image: unset !important;
  color: $m3-light;
  @include border-rounded($m3-roundness-soft);
}

.section-card__inner {
  @include preppendIcon('fa-caret-right', $spacer-sm);
  padding-right: $spacer-sm;
  width: 100%;
  z-index: 2;
}

.section-card__title {
  @extend .m3-title-md;
  margin: 0;
  padding: 0;
  color: theme-color('light');
}

.section-card__tagline {
  display: none;
}


// Content card elements

.content-card__link {
  @extend .card-link;
}

.content-card {
  @include border-rounded($m3-roundness-soft);
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  background-color: $m3-light;
  margin: $spacer-xxs auto;
  box-shadow: 0 2px 8px rgba($ffd-mine-shaft, 48%);
}

.content-card__picture {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-card__content {
  padding: $spacer-xs $spacer-xxs;
}

.content-card__title {
  @extend .m3-title-xs;
  font-weight: 600;
  color: $ffd-mine-shaft;
  margin: 0;
  padding: 0;

  .icon {
    display: none;
  }
}

.content-card__description {
  @extend .m3-tag;

  & > span:not(:last-child):after {
    content: ' | '
  }
}

.content-card__brief {
  @extend .m3-body;
  margin-top: $spacer-xxs;
}


// Height normalizer for views

.view-card-height-normalizer {
  .views-row {
    position: relative;
  }

  .node--card,
  .card-link,
  .content-card {
    height: 100%;
  }
}


// Content card modes

.content-card--featured {
  max-width: 1200px;

  .content-card__inner {
    @extend .row;
    margin: 0;
  }

  .content-card__picture {
    @extend .col-5;
    height: auto;
  }

  .content-card__content {
    @extend .col-7;
    border-top: none;
    padding-top: $spacer-lg;
    padding-bottom: $spacer-lg;
  }
}

.content-card--brief {
  .content-card__brief {
    display: block;
  }
}

.content-card--simple {
  .content-card__brief {
    display: none;
  }

  .content-card__title {
    min-height: $spacer-xxxl + $spacer-xxs;
    overflow: hidden;
  }

  .content-card__description {
    margin-top: $spacer-xxs;
    min-height: $spacer-sm + $spacer-xxxs + $spacer-xxxxs;
  }
}

.content-card--minimal {
  .content-card__title {
    min-height: $spacer-xxl;
    overflow: hidden;
  }

  .content-card__brief {
    display: none;
  }

  .content-card__inner {
    border-top: $spacer-xxs solid $ffd-blue-stone;
  }

  .content-card__picture {
    display: none;
  }

  .content-card__content {
    border-top: none;
  }
}

// .content-card--tag {
//   @extend .content-card--minimal;

//   &:not(.content-card--featured) {
//     .content-card__picture {
//       height: 100px;
//     }
//   }

//   .content-card__content {
//     padding: $spacer-sm $spacer-md;
//   }

//   .content-card__title {
//     @extend .m3-featured, .text-primary;
//     position: relative;

//     .icon {
//       @include iconize("fa-chevron-right", 20px);
//       @include centerThis('right');
//     }
//   }
// }

.content-card--home-special {
  @extend .content-card--brief;
  box-shadow: unset;
  max-width: 460px;
  border-radius: unset;
  background-color: transparent;

  .content-card__inner {
    @include border-rounded($m3-roundness-soft);
    background-color: $ffd-blue-stone;
    box-shadow: 0 2px 8px rgba($ffd-mine-shaft, 24%);
    margin: $spacer-xxxxs $spacer-xxxs;
    margin-top: $spacer-md;
    padding: $spacer-xxs;
  }

  .content-card__picture {
    margin-top: -1 * $spacer-md;
    @include border-rounded($m3-roundness-soft);
    box-shadow: 0 6px 8px rgba($ffd-mine-shaft, 24%);
  }

  .content-card__content {
    padding-bottom: $spacer-xxs;
  }

  .content-card__title {
    @extend .m3-title-md;
    color: $m3-light;
    height: 3.8em;
    overflow: hidden;
  }

  .content-card__brief {
    color: $m3-light;
    height: 9em;
    overflow: hidden;
  }
}


// Collection card

.collection-card {
  @extend .content-card;
}

.collection-card__inner {
  padding: $spacer-xxxs;
  padding-top: $spacer-xxs;
}

.collection-card__header {
  margin-bottom: $spacer-sm;
}

.collection-card__title {
  @extend .content-card__title;
  font-size: $t-04;
  min-height: $spacer-md;
  overflow: hidden;
}

.collection-card__description {
  @extend .content-card__description;
  min-height: $spacer-xxl;
}

.collection-card__counter {
  color: $ffd-blue-stone;
  position: relative;
  height: $spacer-sm;

  .icon {
    @include iconize("fa-arrow-right", $spacer-xxs);
    @include centerThis('right');
    right: $spacer-xxxs;
  }
}

@include media-breakpoint-down(md) {
  .collection-card__description {
    min-height: $spacer-xxl * 2;
  }
}

@include media-breakpoint-down(sm) {
  .collection-card__description {
    min-height: $spacer-xl;
  }
}
