//////////////////////////////
//  Global carousel styles  //
//////////////////////////////

.carousel {
  .carousel-control-prev,
  .carousel-control-next {
    width: 35px;
    opacity: 1;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 42px;
    height: 100%;
  }

  .carousel-control-prev-icon {
    @include iconize("fa-chevron-right", 42px);
  }

  .carousel-control-next-icon {
    @include iconize("fa-chevron-left", 42px);
  }
}

.slick-carousel,
.slick-carousel__controls {
  padding: 0 6%;

  .slick-prev {
    @include iconize("fa-chevron-left", $t-02);
    left: 0;
  }

  .slick-next {
    @include iconize("fa-chevron-right", $t-02);
    right: 0;
  }

  .slick-prev,
  .slick-next {
    width: $spacer-xs;
    height: $spacer-xs;
    border-radius: $spacer-xs / 2;
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    color: transparent;
    border: none;
    background-color: $ffd-saphire;
    
    &:before {
      color: $m3-light;
      width: $t-02;
      height: $t-02;
      @include centerThis();
    }
  }

  .slick-dots {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;

    & > li {
      padding-right: $spacer-xxxs;

      &:last-child {
        padding-right: unset;
      }
    }

    button {
      display: block;
      width: $spacer-xxxs;
      height: $spacer-xxxs;
      padding: 0;
      border: 1px solid $ffd-bright-gray;
      border-radius: $spacer-xxxs / 2;
      background-color: $m3-light;
      overflow: hidden;
      text-indent: $spacer-xxxs;
      transition: background-color 0.2s;
    }

    .slick-active button {
      position: relative;

      &:before {
          content: "";
          display: block;
          width: 2px;
          height: 2px;
          background-color: $ffd-biscay;
          @include centerThis();
      }
    }
  }
}