//////////////////////////////////////
//  Styles for the page full nodes  //
//////////////////////////////////////

// Headings

.content-heading {
    margin-top: $spacer-lg;
    margin-bottom: $spacer-md;
}

.content-heading__title {
    @extend .m3-title-md;
    margin: 0;
}

.content-heading--render-hidden {
    .content-heading__title {
        display: none;
    }
}

@include media-breakpoint-down(sm) {
    .content-heading {
        margin-top: $spacer-sm;
        margin-bottom: $spacer-xxs;
    }
}


// Global layout item

.content-layout {
    margin-top: $spacer-sm;
    margin-bottom: $spacer-sm;

    .layout__content {
        padding-left: $spacer-xl;
        padding-right: $spacer-xl;
    }
}

%content-layout--style--ffd-overrides {
    .layout__content {
        padding: $spacer-lg $spacer-xl;

        h2, h3, h4, h5, h6, blockquote p {
            color: $ffd-biscay !important;
        }

        p {
            color: $ffd-mine-shaft !important;
        }
    }
}

%content-layout--style-ffd-crisp {
    position: relative;

    .layout__content {
        padding: $spacer-lg $spacer-xl;    
    }

    &:before {
        content: '';
        display: block;
        width: $spacer-xs;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url("#{$m3_assets_dir}/img/bg_crisp_left.svg");
        background-position: bottom left;
        background-repeat: repeat-y;
    }

    &:after {
        content: '';
        display: block;
        width: $spacer-xs;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-image: url("#{$m3_assets_dir}/img/bg_crisp_right.svg");
        background-position: top right;
        background-repeat: repeat-y;
    }
}

.content-layout--style-ffd-yellow-crisp {
    @extend %content-layout--style--ffd-overrides, %content-layout--style-ffd-crisp;
    background-color: $ffd-corn;

    // .layout__content {
    //     background-color: $ffd-corn;
    // }
}

.content-layout--style-ffd-teal-crisp {
    @extend %content-layout--style--ffd-overrides, %content-layout--style-ffd-crisp;
    background-color: $ffd-fountain-blue;

    // .layout__content {
    //     background-color: $ffd-fountain-blue;
    // }
}

.content-layout--style-ffd-yellow {
    @extend %content-layout--style--ffd-overrides;
    background: $ffd-corn;

    .layout__content {
        padding: $spacer-lg $spacer-xl;
    }
}

.content-layout--style-ffd-teal {
    @extend %content-layout--style--ffd-overrides;
    background: $ffd-fountain-blue;

    .layout__content {
        padding: $spacer-lg $spacer-xl;
    }
}

@include media-breakpoint-down(md) {
  .content-layout {
    .layout__content {
        padding-left: $spacer-xxs + 15px;
        padding-right: $spacer-xxs + 15px;
    }
  }
}

@include media-breakpoint-down(sm) {
    .content-layout {
        .layout__content {
            padding-left: $spacer-xxxs + 15px;
            padding-right: $spacer-xxxs + 15px;
        }
    }

    .content-layout--style-ffd-yellow,
    .content-layout--style-ffd-teal,
    .content-layout--style-ffd-crisp {
        .layout__content {
            padding: $spacer-xxs $spacer-xxxs + 15px;
        }
    }
}

.content-layout__columns-row {
    @extend .row;
}

.content-layout__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@include media-breakpoint-down(sm) {
    .content-layout__column:not(:last-child) {
        margin-bottom: $spacer-xs;
    }
}

.content-layout__column-a {
    @extend .content-layout__column;
}

.content-layout__column-b {
    @extend .content-layout__column;
}

.content-layout__column-c {
    @extend .content-layout__column;
}

.content-layout__column-d {
    @extend .content-layout__column;
}

.content-layout--columns-vertical-alingment-top {
    .content-layout__columns-row {
        align-items: flex-start;
    }
}

.content-layout--columns-vertical-alingment-middle {
    .content-layout__columns-row {
        align-items: center;
    }
}

.content-layout--columns-vertical-alingment-bottom {
    .content-layout__columns-row {
        align-items: flex-end;
    }
}

.content-layout--columns-flow-ascendant {
    .content-layout__columns-row {
        flex-direction: row;
    }
}

.content-layout--columns-flow-descendant {
    .content-layout__columns-row {
        flex-direction: row-reverse;
    }
}

// Render modes

.content-layout--render-wide,
.content-heading--render-wide {
    @extend .container-fluid;
    
    .layout__content {
        @extend .container;
    }
}

.content-layout--render-contained,
.content-heading--render-contained {
    @extend .container;
}

.content-layout--render-indented,
.content-heading--render-indented {
    @extend .container, .m3-indented-column;

    .content-layout__columns-row {
        @extend .m3-indented-column__row;
    }
}


// Single column

.content-layout--one-column {
    .content-layout__column-a {
        @extend .col-12;
    }
}


// Two columns

.content-layout--two-columns {
    // padding-left: 0;
    // padding-right: 0;
    
    .field-content-column-a,
    .field-content-column-b {
        width: 100%
    }

    &.content-layout--render-wide {
        @extend .container-fluid;
    }
}

.content-layout--two-columns.content-layout--columns-width-balanced {   
    .content-layout__column {
        @extend .col-md-6;
    }
}

.content-layout--two-columns.content-layout--columns-width-a-wider {
    .content-layout__column-a {
        @extend .col-md-8;
    }
    
    .content-layout__column-b {
        @extend .col-md-4;
    }
}

.content-layout--two-columns.content-layout--columns-width-b-wider {
    .content-layout__column-a {
        @extend .col-md-4;
    }
    
    .content-layout__column-b {
        @extend .col-md-8;
    }
}


// Triple column

.content-layout--three-columns {
    // padding-left: 0;
    // padding-right: 0;

    .field-content-column-a,
    .field-content-column-b,
    .field-content-column-c {
        width: 100%
    }

    &.content-layout--render-wide {
        @extend .container-fluid;
    }
}

.content-layout--three-columns.content-layout--columns-width-balanced {   
    .content-layout__column {
        @extend .col-md-4;
    }
}

.content-layout--three-columns.content-layout--columns-width-a-wider {
    .content-layout__column-a {
        @extend .col-md-6;
    }
    
    .content-layout__column-b {
        @extend .col-md-3;
    }

    .content-layout__column-c {
        @extend .col-md-3;
    }
}

.content-layout--three-columns.content-layout--columns-width-b-wider {
    .content-layout__column-a {
        @extend .col-md-3;
    }
    
    .content-layout__column-b {
        @extend .col-md-6;
    }

    .content-layout__column-c {
        @extend .col-md-3;
    }
}

.content-layout--three-columns.content-layout--columns-width-c-wider {
    .content-layout__column-a {
        @extend .col-md-3;
    }
    
    .content-layout__column-b {
        @extend .col-md-3;
    }

    .content-layout__column-c {
        @extend .col-md-6;
    }
}


// Cuadruple columns

.content-layout--four-columns {
    // padding-left: 0;
    // padding-right: 0;

    .field-content-column-a,
    .field-content-column-b,
    .field-content-column-c,
    .field-content-column-d {
        width: 100%
    }

    &.content-layout--render-wide {
        @extend .container-fluid;
    }
}

.content-layout--four-columns.content-layout--columns-width-balanced {   
    .content-layout__column {
        @extend .col-lg-3, .col-md-4, .col-sm-6;
    }
}


// Content Canvas
.paragraph--type--freeform-content-canvas {
    @extend .m3-text-styled;
}


// Embed Image

.content-item--embed-image {
    .embed-image__img {
        img {
            display: block;
            margin: 0 auto;
            @include border-rounded($m3-roundness-soft);
        }
    }
}


// Embed Video

.content-item--embed-video {
    margin-top: $spacer-sm;
    margin-bottom: $spacer-sm;

    .field-media-oembed-video {
        width: 100%;
        padding-top: $m3-embed-video-ratio;
        position: relative;

        & > iframe {
            @extend .m3-iframes;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}


// Content Card with link
.card-with-link--minimal {
    @extend .content-card--minimal;
}

.card-with-link--regular {
    @extend .content-card--simple;
}

.card-with-link--featured {
    @extend .content-card--home-special;
}


// Slider and Carrousel

.content-item--slider {
    .paragraph__content {
        margin: $spacer-xxs 0;
    
        .slick-track {
            display: flex;
            align-items: center;
        }

        .content-item--rich-text {
            padding-right: $spacer-md;
            padding-left: $spacer-md;
        }

        .slick-carousel__controls {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .slick-carousel,
        .slick-carousel__controls {
            padding: 0;

            .slick-prev {
                position: relative;
                top: unset;
                left: unset;
                order: 1;
                margin-right: $spacer-xs;
            }

            .slick-next {
                position: relative;
                top: unset;
                right: unset;
                order: 3;
                margin-left: $spacer-xs;
            }
            
            .slick-dots {
                order: 2;
                margin-bottom: unset;
            }
        }

        .content-item--embed-image {
            .embed-image__img {
                img {
                    box-shadow: 0 2px 8px rgba($ffd-mine-shaft, 48%);
                }
            }
        }
    }
}

.content-item--logo-carrousel {
    .paragraph__content {
        margin: $spacer-sm 0;
    
        .logo-carrousel__item {
            padding: 0 $spacer-sm;
    
            img {
                width: 100%;
                max-width: 300px;
            }
        }
    }
}


// Cover behavior for image, video, slider and carrousel

.content-layout--one-column.content-layout--render-wide {
    .content-item--embed-image:not(.content-item--slider *),
    .content-item--embed-video:not(.content-item--slider *),
    .content-item--slider,
    .content-item--logo-carrousel {
        margin-left: -15px;
        margin-right: -15px;
    }
}