///////////////////////////////////
//  Content nodes common styles  //
///////////////////////////////////

.node {
  .content__title-h {
    @extend .m3-title-lg;
    margin: 0;
  }

  .content__title-h,
  .content__description,
  .content__labels {
    padding-left: $spacer-xl;
    padding-right: $spacer-xl;
  }

  .content__description {
    @extend .m3-featured;
    margin-right: 5%;
    margin-bottom: $spacer-xs;
    color: $ffd-bright-gray;

    a {
      @extend .m3-link;
    }
  }
  
  .content__labels {
    max-width: 820px;

    .field-content-topics {
      display: inline;
    }
  
    .field-content-topics__item {
      margin-bottom: $spacer-xxs;
      display: inline-block;
      
      a {
        @extend %m3-tag-button;
        display: inline-block;
      }

      &:not(:last-child) {
        margin-right: $spacer-xxxxs;
      }
    }

    .field-resource-type,
    .field-blog-post-type,
    .field-profile-type {
      margin-bottom: $spacer-xxs;
      display: inline-block;

      a {
        @extend %m3-tag-button;
        display: inline-block;
      }
    }
  }

  .content__intro,
  .content__content {
    @extend .m3-text-styled;
  }
}

@include media-breakpoint-down(sm) {
  .node {
    .content__title-h,
    .content__description,
    .content__labels {
      padding-left: $spacer-xxxs;
      padding-right: $spacer-xxxs;
    }
  }
}