///////////////////
//  Form styles  //
///////////////////

.form-item,
.form-actions,
.fieldset {
    @extend .form-group;

    .form-item__label,
    legend {
        @extend .col-form-label;
        margin: $spacer-xxs 0;
        padding: 0;

        label,
        span {
            @extend .m3-label;
            margin: 0;
            color: $ffd-mine-shaft;
        }

        .form-required:after {
            color: theme-color('danger');
            content: "*";
            padding-left: 5px;
        }

        .webform-element-help {
            margin-left: $spacer-xs;
            vertical-align: middle;
            transform: scale(1.4);
            font-size: $t-01;
        }
    }

    .description {
        padding-left: 0.5em;
    }
}

.form-actions {
    padding-top: $spacer-xxs;
}

.m3-form-control {
    @extend .form-control;
    @include border-rounded;
    background: theme-color('light');
    padding: $spacer-xxxs $spacer-xxs;
    height: 40px;
    border: 1px solid $ffd-mine-shaft;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
        border-color: $ffd-bright-gray;
    }

    &:focus {
        border-color: $ffd-horizon;
        box-shadow: none;
    }
}

input:not([type='submit']):not([type='checkbox']):not([type='radio']),
textarea,
.select__container {
    @extend .m3-form-control;
}

input[type='checkbox'],
input[type='radio'] {
    margin-right: 6px;
    margin-left: 1em;
}
  
.select__container {
    height: auto;
    padding: ($spacer-xxxs - 2px) $spacer-xxs;
    position: relative;
    overflow: hidden;

    select,
    .select2-selection {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        width: 100%;
        height: 100%;
        padding-right: 50px;
        border: 0;
    }
}


// Select2 overrides

.select2-container {
    .select2-selection,
    .select2-selection--single {
        border-radius: unset !important;
        border: 0 !important;
        height: initial !important;
    
        .select2-selection__rendered {
            padding: 0 !important;
            line-height: inherit !important;
        }

        .select2-selection__arrow {
            display: none;
        }
    }
}

.select2-container--open {
    .select2-dropdown {
        box-sizing: content-box !important;
        left: -1px !important;
    }
}


.select__icon {
    @include centerThis('right');
    @include iconize('fa-chevron-down', $spacer-sm);
    height: 100%;
    background-color: transparent;
    color: $ffd-blue-stone;
    pointer-events: none;

    &:before {
        @include centerThis();
        font-size: $t-01;
        height: $spacer-sm;
    }
}

input[type='submit'] {
    @extend %m3-cta-button;
    width: 100%;
}

.form-checkboxes,
.form-radios,
.js-form-type-checkbox,
.js-form-type-radio,
.js-webform-radios,
.js-webform-checkboxes {
    .form-item {
        margin: $spacer-xs 0;
        padding: 0 !important;
    }

    .form-item__contents {
        display: flex;
        align-items: center !important;
        flex-wrap: wrap;
        margin: 0;
        position: relative;

        .form-item__label {
            @extend .col-form-label, .m3-label;
            max-width: 90%;
            padding: 0;
            margin: 0;
            margin-left: $spacer-sm;
            font-weight: 400;
            color: theme-color('primary');

            label {
                cursor: pointer;
            }
        }

        .description {
            width: 100%;
            padding-left: $spacer-lg;
            padding-top: $spacer-xxs;
            padding-bottom: $spacer-xxs;
            font-size: $t-01;
        }
    }

    .input__container {
        position: relative;

        input.error + label.error {
            width: max-content;
            position: absolute;
            bottom: 100%;
            left: 0;
            color: $m3-danger;
        }
        
        input {
          accent-color: theme-color('primary');
          width: $spacer-md - $spacer-xs;
          height: $spacer-md - $spacer-xs;
        }
    }
}

@include media-breakpoint-down(xs) {
    input[type='submit'] {
        margin-top: $spacer-sm;
    }
}


// Webform Overrides

.webform-progress {
    @extend .container;
}

.webform-confirmation {
    @extend .container;
    margin: $spacer-xl auto;
}

.webform-progress-tracker {
    .progress-marker::before {
        z-index: 1;
    }

    .progress-marker::after {
        z-index: 0;
    }
}

.js-form-type-radio {
    .form-item__contents {
        display: flex;
        align-items: baseline;
    }
}

.js-form-type-webform-likert {
    .form-item.js-form-type-radio {
        margin-bottom: 0;

        .form-item__label {
            display: none;
        }
    }
}

.js-form-type-color {
    .input__container {
        display: flex;
        justify-content: space-between;

        .form-color {
            float: none;
            max-width: 49%;
        }
    }
}

// .form-actions {
//     @extend .row;
//     margin-top: 1em;

//     .form-submit__container {
//         @extend .col-sm-6;
//     }
// }