//////////////////////////
//  List style classes  //
//////////////////////////

.m3-formatted-lists {
    ul, ol {
        @extend .m3-body;
    
        li {
            margin: $spacer-xxxs 0;
        }
    }

    ul.featured-list {
        @extend .m3-label;
        padding: 0;

        li {
            background: url("#{$m3_assets_dir}/img/featured_list_icon.svg") no-repeat center left;
            padding-left: $spacer-md;
            list-style-type: none;
            margin: $spacer-xs 0;
        }
    }
}
