/////////////////////
//  Global styles  //
/////////////////////

html {
  scroll-behavior: smooth;
}

body {
  @extend .m3-root-text;
  background-color: $ffd-concrete;
}

.m3-iframes {
  display: block;
  width: 100%;
  height: 100%;
}

// .m3-lecture-safe {
//   max-width: 35em;
//   margin-left: auto;
//   margin-right: auto;
// } 

.m3-text-styled {
  // Add classes for text contents (Lists, links, paragraphs, etc).
  @extend .m3-formatted-images, .m3-formatted-lists;

  hr {
    display: block;
    margin: 0;
    margin-top: 4em;
    margin-bottom: 1em;
    width: 60%;
    min-width: 200px;
    max-width: 600px;
    height: 5px;
    background-color: $m3-gray-500;
    border: 0;
  }

  a {
    @extend .m3-link;
  }
  
  a.cta-button {
    @extend %m3-cta-button;
  }

  a.standard-button {
    @extend %m3-standard-button;
  }

  a.featured-link {
    @extend %m3-ghost-button;
  }

  p {
    @extend .m3-body, .m3-lecture-safe !optional;
  }

  p.featured {
    @extend .m3-featured, .m3-lecture-safe !optional;
  }

  p.block-shadow {
    display: inline-block;
    @extend .m3-block-shadow;
  }

  h2.heading-1 {
    @extend .m3-title-lg, .m3-lecture-safe !optional;
    margin-bottom: $spacer-xxs;
  }

  h3.heading-2 {
    @extend .m3-title-md, .m3-lecture-safe !optional;
    margin-bottom: $spacer-xxs;
  }

  h4.heading-3 {
    @extend .m3-title-sm, .m3-lecture-safe !optional;
    margin-bottom: $spacer-xxs;
  }

  h5.heading-4 {
    @extend .m3-title-xs, .m3-lecture-safe !optional;
    margin-bottom: $spacer-xxs;
  }

  blockquote {
    @extend .m3-lecture-safe !optional;
    margin-top: $spacer-sm;
    margin-bottom: $spacer-sm;
    padding-right: $spacer-sm;
    
    p {
      @extend .m3-quote;
    }

    p:first-child:before {
      content: '“';
      display: inline;
    }

    p:last-child:after {
      content: '”';
      display: inline;
    }
  }

  .quote-attribution-name {
    @extend .m3-label;
    font-size: $t-05;
    line-height: 1;
    text-align: right;
    padding-left: 40%;
    margin-bottom: $spacer-xxxs;

    &:before {
      content: '— ';
      display: inline;
    }
  }

  .quote-attribution-position {
    @extend .m3-label;
    font-weight: 700;
    text-align: right;
    padding-left: 40%;
    margin-bottom: $spacer-xxxs;
  }

  // .quote-block {
  //   @extend .m3-indented-column;
  //   padding-top: 80px;
  //   padding-bottom: 40px;
  //   background: $m3-gray-100;
  // }

  .featured-image-wrapper {
    @extend .m3-block-shade-1-half;
    text-align: center;
    padding-bottom: 30px;

    img {
      border-top: 20px solid $m3-gray-500;
      max-width: 1110px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .featured-image-wrapper {
    img {
      max-width: 90% !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .m3-text-styled {
    hr {
      margin-top: 2.5em;
    }

    .featured-image-wrapper {
      img {
        max-width: 75%;
      }
    }

    .quote-attribution-name,
    .quote-attribution-position {
      padding-left: 55%;
    }

    blockquote {
      &:before,
      &:after {
        width: 30px;
        height: 30px;
      }

      &:before {
        right: 0;
      }

      &:after {
        left: 0;
      }
    }

    .quote-block {
      padding-top: 40px;
      padding-bottom: 30px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .m3-text-styled {
    hr {
      display: none;
    }

    .quote-attribution-name,
    .quote-attribution-position {
      padding-left: 35%;
    }
  }
}

@include media-breakpoint-down(xs) {
  .m3-text-styled {
    .featured-image-wrapper {
      img {
        border-top-width: 10px;
        max-width: 90%;
      }
    }
  }
}