////////////////////////////
//  Global pager styles  //
////////////////////////////

.pager {
  margin-top: 0;
  margin-bottom: $spacer-xl;

  .pager__items {
    @extend .pagination, .justify-content-center;
  }

  .pager__item {
    @extend .page-item;
    
    .pager__link,
    .pager__label {
      @extend .page-link, .m3-tag;
      margin: 0;
      border: 1px solid $ffd-blue-stone;
      border-left: none;
      border-right: none;
      padding: $spacer-xxxs !important;
      color: $ffd-bright-gray;
      background-color: $ffd-concrete;

      &:focus {
        outline: 0;
        box-shadow: none;
      }

      &:hover {
        border-color: $ffd-blue-stone;
      }
    }

    .is-disabled {
      color: $ffd-concrete-alt !important;

      &:hover {
        background-color: inherit;
      }
    }

    &:first-child {
      .pager__link,
      .pager__label {
        border-left: 1px solid $ffd-blue-stone;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }
    }

    &:last-child {
      .pager__link,
      .pager__label {
        border-right: 1px solid $ffd-blue-stone;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }

    &.is-active {
      @extend .active;
    
      .pager__link,
      .pager__label {
        background-color: rgba($ffd-blue-stone, 12%);
        color: $ffd-bright-gray;
        padding: $spacer-xxxs $spacer-xxs !important;
      }
    }
  }

  .pager__item--first {
    .icon {
      @include iconize("fa-angle-double-left", $t-03);
      display: inline;
    }
  }

  .pager__item--previous {
    .icon {
      @include iconize("fa-angle-left", $t-03);
      display: inline;
    }
  }
  
  .pager__item--first,
  .pager__item--previous {
    .pager__link,
    .pager__label {
      border-right: 1px solid $ffd-blue-stone;
    }

    &:hover {
      .pager__link,
      .pager__label {
        border-right: 1px solid $ffd-blue-stone;
      }
    }
  }

  .pager__item--first,
  .pager__item--last {
    .pager__link,
    .pager__label {
      background-color: $ffd-blue-stone;
      color: $ffd-concrete;
      padding: $spacer-xxxs $spacer-xxs !important;

      &:hover {
        background-color: $ffd-horizon;
        color: $m3-light;
      }
    }
  }
  
  .pager__item--next {
    .icon {
      @include iconize("fa-angle-right", $t-03);
      display: inline;
    }
  }

  .pager__item--last {
    .icon {
      @include iconize("fa-angle-double-right", $t-03);
      display: inline;
    }
  }

  .pager__item--next,
  .pager__item--last {
    .pager__link,
    .pager__label {
      border-left: 1px solid $ffd-blue-stone;
    }

    &:hover {
      .pager__link,
      .pager__label {
        border-left: 1px solid $ffd-blue-stone;
      }
    }
  }

  .pager__item--next,
  .pager__item--previous {
    .pager__link,
    .pager__label {
      color: $ffd-blue-stone;
      padding: $spacer-xxxs $spacer-xxs !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .pager {
    .pager__item {      
      .pager__link,
      .pager__label {
        font-size: $t-02;
      }
    }

    .pager__item--first,
    .pager__item--previous,
    .pager__item--next,
    .pager__item--last {
      .icon {
        width: $t-02;
        height: $t-02;

        &:before {
          font-size: $t-02;
          line-height: $t-02;
        }
      }
    }
  }
}