//////////////////////////
//  Global text styles  //
//////////////////////////

.m3-root-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    // font-size: $t-root; // Removed fixed size to allow accesibility base font configuration
    color: $ffd-bright-gray;
    line-height: $m3-line-height;
}


// Titles

.m3-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: $ffd-saphire;
}

.m3-title-xl {
    @extend .m3-title;
    font-weight: 800;
    font-size: $t-09;
    line-height: 1.333;
}

.m3-title-lg {
    @extend .m3-title;
    font-size: $t-08;
    line-height: 1.286;
}

.m3-title-md {
    @extend .m3-title;
    font-size: $t-07;
    line-height: 1.231;
}

.m3-title-sm {
    @extend .m3-title;
    font-size: $t-06;
    line-height: 1.083;
}

.m3-title-xs {
    @extend .m3-title;
    font-size: $t-05;
    line-height: 1.091;
}

@include media-breakpoint-down(sm) {
    .m3-title-xl {
        font-size: $t-tablet-09;   
    }

    .m3-title-lg {
        font-size: $t-tablet-08;   
    }
    
    .m3-title-md {
        font-size: $t-tablet-07;
    }
    
    .m3-title-sm {
        font-size: $t-tablet-06;
    }
    
    .m3-title-xs {
        font-size: $t-tablet-05;
    }
}

@include media-breakpoint-down(xs) {
    .m3-title-xl {
        font-size: $t-mobile-09;
    }

    .m3-title-lg {
        font-size: $t-mobile-08;   
    }
    
    .m3-title-md {
        font-size: $t-mobile-07;
    }
    
    .m3-title-sm {
        font-size: $t-mobile-06;
    }
    
    .m3-title-xs {
        font-size: $t-mobile-05;
    }
}


// Miscellaneous

.m3-body {
    @extend .m3-root-text;
    font-size: $t-02;
}

.m3-featured {
    @extend .m3-root-text;
    font-size: $t-04;
}

.m3-link {
    @extend .m3-root-text;
    color: $ffd-blue-stone;
    font-weight: 500;

    &:hover {
        color: $ffd-biscay;
    }
}

.m3-label {
    @extend .m3-root-text;
    font-weight: 600;
    font-size: $t-03;
    line-height: 1.222;
}

.m3-tag {
    @extend .m3-root-text;
    font-weight: 600;
    font-size: $t-01;
}

.m3-quote {
    font-family: 'Source Serif Pro', serif;
    color: $ffd-blue-stone;
    font-weight: 600;
    font-size: $t-08;
    line-height: 1.286;
}

@include media-breakpoint-down(sm) {
    .m3-body {
        font-size: $t-tablet-02;
    }
    
    .m3-featured {
        font-size: $t-tablet-04;
    }

    .m3-label {
        font-size: $t-tablet-03;
    }

    .m3-tag {
        font-size: $t-tablet-01;
    }

    .m3-quote {
        font-size: $t-tablet-08;
    }
}

@include media-breakpoint-down(xs) {
    .m3-body {
        font-size: $t-mobile-02;
    }
    
    .m3-featured {
        font-size: $t-mobile-04;
    }

    .m3-label {
        font-size: $t-mobile-03;
    }

    .m3-tag {
        font-size: $t-mobile-01;
    }

    .m3-quote {
        font-size: $t-mobile-08;
    }
}