///////////////////////////////
//  Common styles for views  //
///////////////////////////////

.m3-view {
  .block--page-title-block {
    position: relative;
    padding-top: $spacer-xxl;
    padding-bottom: 0;

    .block__content {
      @extend .container;
    }

    h1 {
      @extend .m3-title-lg;
      color: $ffd-saphire;
      margin: 0;
    }
  }

  .content__wrapper {
    .view__exposed {
      padding-top: $spacer-md;
      padding-bottom: $spacer-xl;
      position: relative;
  
      .views-exposed-form {
        @extend .row;
        align-items: flex-end;
      }

      .form-item {
        @extend .col;
      }

      .form-actions {
        @extend .col-12;
      }
    }

    .view__content {
      padding-top: $spacer-xl;
      padding-bottom: $spacer-xl;
    }

    .view__content-inner {
      @extend .view-card-height-normalizer;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $spacer-xs;
    }

    .content-card {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .m3-view {
    .block--page-title-block {
      padding-left: $spacer-sm;
      padding-right: $spacer-sm;
    }

    .content__wrapper {
      .view__content-inner {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .m3-view {
    .content__wrapper {
      .view__exposed {
        padding-left: $spacer-sm;
        padding-right: $spacer-sm;
      }

      .view__content-inner {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}