/////////////////////////////////////
//  Color variables and overrides  //
/////////////////////////////////////

// Color variables for M-III
$m3-gray-100: #F7F7F7;
$m3-gray-200: #E1E1E1;
$m3-gray-300: #CFCFCF;
$m3-gray-400: #B1B1B1;
$m3-gray-500: #9E9E9E;
$m3-gray-600: #7E7E7E;
$m3-gray-700: #626262;
$m3-gray-800: #515151;
$m3-gray-900: #3B3B3B;

$m3-success: #28A745;
$m3-danger: #DC3545;
$m3-warning: #FFC106;
$m3-info: #17A2B8;
$m3-light: #FFFFFF;
$m3-dark: #303030;

$ffd-saphire: #38559C;
$ffd-biscay: #18306C;
$ffd-bunting: #0F1E44;
$ffd-horizon: #5A839B;
$ffd-blue-stone: #1A5F66;
$ffd-tiber: #113D41;
$ffd-fountain-blue: #59C3C6;
$ffd-portage: #ACDEDF;
$ffd-bright-gray: #58595C;
$ffd-mine-shaft: #333333;
$ffd-corn: #E3C100;
$ffd-concrete: #F3F3F3;
$ffd-concrete-alt: #C3C3C3;
$ffd-nebula: #CBD9DA;


// Override bootstrap default colors
$primary:       $ffd-blue-stone !default;
$secondary:     $ffd-horizon !default;
$success:       $m3-success !default;
$info:          $m3-info !default;
$warning:       $m3-warning !default;
$danger:        $m3-danger !default;
$light:         $m3-light !default;
$dark:          $m3-dark !default;

// Extend bootstrap theme pallete
$theme-colors: (
    "gray": $m3-gray-600
);