///////////////////////////////////////
//  Variables for visual parameters  //
///////////////////////////////////////

$m3-roundness-hard: 4px;

$m3-roundness-soft: 8px;

$m3-layout-identation: 8.333%;

$m3-embed-video-ratio: 56.25%; // Aspect ratio 16:9 (9 / 16 -> 0.5625; Height in relation to width)

$brand-width: 140px;

$header-offset: 140px;

$header-offset--mobile: 164px;

$footer-offset: 137px;

$footer-offset--mobile: 197px;

$pop-up-menu-min-width: 240px;