///////////////////////////////////
//  Variables for pixel spacers  //
///////////////////////////////////

$spacer-xxxl: 128px;
$spacer-xxl: 96px;
$spacer-xl: 72px;
$spacer-lg: 64px;
$spacer-md: 48px;
$spacer-sm: 32px;
$spacer-xs: 24px;
$spacer-xxs: 16px;
$spacer-xxxs: 8px;
$spacer-xxxxs: 4px;